@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #212121;
  --foreground: #212121;
  --primary: #53e8c4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #212121;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif, Vazirmatn, 'Vazirmatn';
}

.persian-numbers {
  font-family: var(--font-vazirmatn), sans-serif;
  font-feature-settings: 'ss02' on; /* This may vary based on font support */
}